# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# Saved Models
# ===============================
saved_models/

# ===============================
# Outputs
# ===============================
outputs/

# ===============================
# Reports
# ===============================
reports/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Operating System
# ===============================
.DS_Store
Thumbs.db